html{background:url(../img/bg-head.png) repeat-x,url(../img/bg-body.png) repeat;}
body{margin:0 auto;width:840px;}
#sitebar{background:#504488;border-bottom-left-radius:3px;border-bottom-right-radius:3px;padding:4px 10px;}
#sitebar a:link,#sitebar a:visited{color:#ada5e3;text-decoration:none;text-shadow:1px 1px 1px rgba(43, 33, 112, 0.5);}
body>header{overflow:hidden;}
body>header h2{color:#fff;font-family:"Helvetica Neue",sans-serif;font-size:32px;font-weight:600;margin:25px 0 25px 120px;text-shadow:1px 1px 1px #2b2170;}
nav#sitewide{float:left;margin:40px 0 0;width:80px;}
nav#sitewide a:link,nav#sitewide a:visited{background:-webkit-linear-gradient(#7d75a1, #aa9fdc);border-top-left-radius:5px;border-bottom-left-radius:5px;box-shadow:inset 0 0 18px rgba(66, 66, 66, 0.4);display:block;height:80px;margin:0 0 20px;overflow:hidden;position:relative;text-decoration:none;width:80px;}
nav#sitewide span{color:#fff;font-size:12px;text-align:center;display:block;text-transform:uppercase;position:absolute;bottom:0;width:80px;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.75);background:rgba(123, 115, 158, 0.5);padding:1px 0;border-bottom-left-radius:5px;}
nav#sitewide li:nth-child(1) span{background:rgba(160, 160, 160, 0.5);}
nav#sitewide em{position:absolute;top:3px;color:white;font-size:52px;text-align:center;width:80px;}
nav#sitewide li:nth-child(1) a:link{background:url(../img/tab-profile.png) no-repeat;}
nav#sitewide li:nth-child(2) a:link{background:url("../img/tab-messages.png") no-repeat center 16px,-webkit-linear-gradient(#7d75a1, #aa9fdc);}
nav#sitewide li:nth-child(2) a:hover{background:url("../img/tab-messages.png") no-repeat center 16px #aba0dd;}
nav#sitewide li:nth-child(2).notification a:link{background:url("../img/tab-messages-fade.png") no-repeat center 16px,-webkit-linear-gradient(#7d75a1, #aa9fdc);}
nav#sitewide li:nth-child(2).notification a:hover{background:url("../img/tab-messages-fade.png") no-repeat center 16px #aba0dd;}
nav#sitewide li:nth-child(3) a:link{background:url("../img/tab-friends.png") no-repeat center 16px,-webkit-linear-gradient(#7d75a1, #aa9fdc);}
nav#sitewide li:nth-child(3) a:hover{background:url("../img/tab-friends.png") no-repeat center 16px #aba0dd;}
nav#sitewide li:nth-child(3).notification a:link{background:url("../img/tab-friends-fade.png") no-repeat center 16px,-webkit-linear-gradient(#7d75a1, #aa9fdc);}
nav#sitewide li:nth-child(3).notification a:hover{background:url("../img/tab-friends-fade.png") no-repeat center 16px #aba0dd;}
nav#sitewide li:nth-child(4) a:link{background:url("../img/tab-classes.png") no-repeat center 16px,-webkit-linear-gradient(#7d75a1, #aa9fdc);}
nav#sitewide li:nth-child(4) a:hover{background:url("../img/tab-classes.png") no-repeat center 16px #aba0dd;}
nav#sitewide li:nth-child(4).notification a:link{background:url("../img/tab-classes-fade.png") no-repeat center 16px,-webkit-linear-gradient(#7d75a1, #aa9fdc);}
nav#sitewide li:nth-child(4).notification a:hover{background:url("../img/tab-classes-fade.png") no-repeat center 16px #aba0dd;}
#main{background:#fff;border-radius:5px;min-height:380px;float:left;padding:40px;width:680px;}
#composemail p{clear:both;}
#composemail label{background:url(../img/icon-person.png) no-repeat center 9px,-webkit-linear-gradient(#f3f3f3, #ececec);border:1px solid #e4e4e4;border-right:none;display:block;float:left;height:39px;text-indent:-9999em;width:39px;}
#composemail .compose input{cursor:pointer;}
#composemail .compose label{background:url(../img/icon-compose.png) no-repeat center 9px,-webkit-linear-gradient(#f3f3f3, #ececec);}
#composemail .message label{background:url(../img/icon-pencil.png) no-repeat center 9px,-webkit-linear-gradient(#f3f3f3, #ececec);height:174px;}
#composemail .recipients,#composemail input#compose,#composemail textarea{background:-webkit-linear-gradient(#fcfcfc, #f4f4f4);border:1px solid #e4e4e4;float:left;padding:12px 10px;width:618px;font-family:"Lucida Grande" sans-serif;color:#6c6c6c;font-size:11px;line-height:15px;}
#composemail #compose:hover,#composemail #compose:focus{background:-webkit-linear-gradient(#f4f4f4, #fcfcfc);}
#composemail input#to{font-family:"Lucida Grande" sans-serif;color:#6c6c6c;font-size:11px;line-height:15px;background:none;border:none;font-family:"Lucida Grande" sans-serif;margin:-3px 3px 0 0;padding:3px 5px;}
#composemail .recipients div{display:inline;}
#composemail textarea{height:150px;}
#composemail .recipients{padding:10px;cursor:text;}
#composemail .to label,#composemail .recipients{border-bottom:0;}
#composemail .recipients span{background:-webkit-linear-gradient(#d1c9f6, #b9aff0);border:1px solid #aba0dd;border-radius:5px;color:#574e94;font-family:"Lucida Grande" sans-serif;margin:0 3px 0 0;padding:4px 5px;cursor:pointer;}
#composemail .recipients span b{background:#aba0dd;border-radius:20px;color:#aba0dd;margin:0 0 0 3px;padding:0 3px;}
#composemail .recipients span b:hover{background:#978cc9;color:#978cc9;cursor:pointer;}
#composemail :focus{outline:none;}
#composemail textarea:focus{border:1px solid #c6c6c6;}
#composemail .recipients.highlight{border:1px solid #c6c6c6;border-bottom:none;}
#composemail .highlightTop{border-top:1px solid #c6c6c6;}
#composemail .submit{padding:10px;text-align:right;}
#composemail .submit a:link,#composemail .submit a:visited{color:#999;font-size:12px;padding:10px;text-decoration:none;}
#composemail .submit a:hover,#composemail .submit a:focus{text-decoration:underline;}
#composemail .submit input{background:-webkit-linear-gradient(#d1c9f6, #b9aff0);border:1px solid #aba0dd;border-radius:5px;color:#574e94;padding:5px 10px;}
#composemail .submit input:hover,#composemail .submit input:focus{background:-webkit-linear-gradient(#b9aff0, #d1c9f6);}
#messages{list-style:none;margin:30px 0 0;}
#messages li a:link,#messages li a:visited{background:-webkit-linear-gradient(#fafafa, #f0f0f0);border:1px solid #eaeaea;border-bottom:none;color:#6c6c6c;clear:both;display:block;font-family:"Lucida Grande",sans-serif;font-size:11px;position:relative;overflow:hidden;text-decoration:none;}
#messages li:first-child a:link,#messages li:first-child a:visited{border-top-left-radius:3px;border-top-right-radius:3px;}
#messages li:last-child a:link,#messages li:last-child a:visited{border-bottom:1px solid #eaeaea;border-bottom-left-radius:3px;border-bottom-right-radius:3px;box-shadow:0 1px 0 #ddd;}
#messages li:first-child img{border-top-left-radius:3px;}
#messages li:last-child img{border-bottom-left-radius:3px;}
#messages li a:hover,#messages li a:focus{background:-webkit-linear-gradient(#f0f0f0, #fafafa);outline:none;}
#messages img{box-shadow:0 0 15px #f0f0f0;float:left;margin:0 10px 0 0;}
#messages cite{color:#4d4199;font-size:14px;font-weight:bold;display:inline-block;margin:10px 0 5px;}
#messages blockquote{color:#6c6c6c;}
#messages time{color:#aaa;float:right;position:absolute;right:20px;top:23px;}
