html {
	background: url(img/bg-head.png) repeat-x,
							url(img/bg-body.png) repeat;
}

body {
	margin: 0 auto;
	width: 840px;
}

#sitebar {
	background: #504488;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 4px 10px;
}

#sitebar a:link,
#sitebar a:visited {
	color: #ada5e3;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(43,33,112,0.5);
}

body > header {
	overflow: hidden;
}

body > header h2 {
	color: #fff;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 32px;
	font-weight: 600;
	margin: 25px 0 25px 120px;
	text-shadow: 1px 1px 1px #2b2170;
}

nav#sitewide {
	float: left;
	margin: 40px 0 0;
	width: 80px;
}

nav#sitewide a:link,
nav#sitewide a:visited {
	background: -webkit-linear-gradient(#7d75a1, #aa9fdc);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: inset 0 0 18px rgba(66,66,66,0.4);
	display: block;
	height: 80px;
	margin: 0 0 20px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	width: 80px;
}

nav#sitewide span {
	color: #fff;
	font-size: 12px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	width: 80px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
	background: rgba(123,115,158,0.5);
	padding: 1px 0;
}

nav#sitewide li:nth-child(1) span {
	background: rgba(160,160,160,0.5);
}

nav#sitewide li:nth-child(1) a:link {
	background: url(img/tab-profile.png) no-repeat;
}

nav#sitewide li:nth-child(2) a:link {
	background: url(img/tab-mail.png) no-repeat center 16px,
							-webkit-linear-gradient(#7d75a1, #aa9fdc);
}

nav#sitewide li:nth-child(3) a:link {
	background: url(img/tab-friends.png) no-repeat center 16px,
							-webkit-linear-gradient(#7d75a1, #aa9fdc);
}

nav#sitewide li:nth-child(4) a:link {
	background: url(img/tab-classes.png) no-repeat center 16px,
							-webkit-linear-gradient(#7d75a1, #aa9fdc);
}

#main {
	background: #fff;
	border-radius: 5px;
	min-height: 380px;
	float: left;
	padding: 40px;
	width: 680px;
}

#composemail p {
	clear: both;
}

#composemail label {
	background: url(img/icon-person.png) no-repeat center 9px,
							-webkit-linear-gradient(#f3f3f3, #ececec);
	border: 1px solid #e4e4e4;
	border-right: none;
	display: block;
	float: left;
	height: 39px;
	text-indent: -9999em;
	width: 39px;
}

#composemail input,
#composemail textarea {
	background: -webkit-linear-gradient(#fcfcfc, #f4f4f4);
	border: 1px solid #e4e4e4;
	float: left;
	padding: 12px 10px;
	width: 618px;
}

#composemail textarea {
	height: 150px;
}

#composemail label.message {
	background: url(img/icon-pencil.png) no-repeat center 9px,
							-webkit-linear-gradient(#f3f3f3, #ececec);
	height: 174px;
}

#composemail .to {
	border-bottom: 0;
}

#composemail :focus {
	outline: none;
}

#composemail input:focus, 
#composemail textarea:focus {
	border: 1px solid #c6c6c6;
}

/* Highlight top of textarea to give appearance of highlighting input */
#composemail input:focus { border-bottom: none; }
#composemail .highlightTop { border-top: 1px solid #c6c6c6; }
